/* Tainá Moreira Vieira Menegatti */
body {
    background-color: #aeb0b0; /* Fundo azul claro */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#chat {
    max-width: 600px;
    width: 100%;
    background-color: #ffffff; /* Fundo branco */
    border: 2px solid #000000; /* Borda azul */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}
#messages {
    height: 300px;
    border: 1px solid #000000; /* Borda azul clara */
    padding: 10px;
    overflow-y: scroll;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #ffffff; /* Fundo azul claro */
}
#messages div {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #a1a1a1; /* Fundo azul claro para mensagens */
    word-wrap: break-word;
}
input, button {
    padding: 10px;
    font-size: 1em;
    border: 2px solid #000000; /* Borda azul */
    border-radius: 5px;
    margin-right: 10px;
}
input {
    flex: 1;
    margin-right: 10px;
}
button {
    background-color: #636363; /* Fundo azul */
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #000000; /* Fundo azul escuro ao passar o mouse */
}
.input-container {
    display: flex;
    align-items: center;
}
h1 {
    color: #000000; /* Cor do título azul */
    text-align: center;
}